#orb{
  width: 400px;
  height: 400px;
  border-radius: 100%;
  margin: 100px auto 0 auto;

}

.sun{

  background-image: url("sun.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;

  /*border: 10px solid #black;*/
}

.moon{
  background: linear-gradient(black, white); /* Standard syntax */
  /*border:10px solid #black;*/
}

.daySky{
  background: linear-gradient(blue, pink); /* Standard syntax */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.nightSky{
  background: linear-gradient(purple, blue); /* Standard syntax */
  background-repeat: no-repeat;
  background-attachment: fixed;
}
